<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/CrimeScene.js"></script>
    @RenderSection("Scripts", required: false)
    @Styles.Render("~/Content/css")


</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">JANNES ALLT I ALLO AB</a>


        @Html.Partial("_Cultural")

        <div class="btn-group pull-right">
            @Html.Partial("_LoginPartial")
        </div> <br /> <br />
        <div id="categories" class="col-xs-push-5">  @Html.Action("Summary", "Cart") </div> <br />
    </div>
    @Html.Partial("_FlashMessage")

    <div class="row panel">
        <div id="categories" class="col-xs-3">            @Html.Action("Menu", "Navigation")        </div>

        @if (Request.IsAuthenticated)
        {
            <button type="button" class="btn btn-primary">@Html.ActionLink(Resources.Create, "Create")</button>
        }

        @*@Html.Partial("_Currency")*@




        <div class="col-xs-8">
            @RenderBody()
        </div>
        @*@Html.Partial("_TestApiView")*@

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/widgetspecific")
    @*@Scripts.Render("~CrimeScene")*@
    @*@Scripts.Render("~Facebook")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/toastr")
 


</body>
</html>
