<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  


</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">JANNES ALLT I ALLO AB</a>


        @Html.Partial("_Cultural")

        <div class="btn-group pull-right">
            @Html.Partial("_LoginPartial")
        </div> <br /> <br />
        <div id="categories" class="col-xs-push-5">  @Html.Action("Summary", "Cart") </div> <br />
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">            @Html.Action("Menu", "Navigation")        </div>

        @if (Request.IsAuthenticated)
        {
            <button type="button" class="btn btn-primary">@Html.ActionLink(Resources.Create, "Create")</button>
        }
    
            @Html.Partial("_Currency")


            <div class="col-xs-8">            @RenderBody()        </div>
</div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/widgetspecific")
     @Scripts.Render("~Currency")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
