@model IEnumerable<ProductsMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Lägg till ny produkt", "Create")</button>

</p>



@foreach (var item in Model)
{

    <div class="well">
        <h3>
            <strong>@item.Name</strong> <br /> <br />

            <span class="pull-right label labelprimary">@item.Price.ToString("c")</span>
        </h3>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </div>








}


