@model IEnumerable<ProductsMVC.Models.Product>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  

    <p style="margin-right: 75%;">
        Sök på produkt: @Html.TextBox("searchProduct")
        <input type="submit" value="Filtrera" style=" margin-left: 35%; margin-top: 3%;" />
    </p>
    



@foreach (var p in Model)
    {

        <div class="well">
            <h3>
                <strong>@p.Name</strong> <br /> <br />

                <span class="pull-right label labelprimary">@p.Price.ToString("c")</span>
                <a href="@p.ImageUrl"><img class="img-rounded img-small" src="@p.ImageUrl" style="width:100px;height:60px;" /></a>
            </h3>
            @Html.ActionLink("Edit", "Edit", new { id = p.ID }) |
            @Html.ActionLink("Details", "Details", new { id = p.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = p.ID })
        </div>


}

