@model IEnumerable<ProductsMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>

        @*<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>*@


        <div class="well">        <h3>            <strong>@item.Name</strong> <br /> <br />
                                      @*<span class="lead"> 
                                                              <img src="~/Content/Picture folder/fotboll.jpg"   />

</span>*@          
             <span class="pull-right label labelprimary">@item.Price.ToString("c")</span>        </h3>   
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div> 
        <div class="btn-group pull-right"></div>



            <td>
                
            </td>
</tr>
}

</table>
