@model ProductsMVC.Models.ProductsListViewModel

@{    ViewBag.Title = "Products"; }

<div id="searchfield">
  
        <p>
            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
            <p style="margin-right: 75%;">
                Sök på produkt: @Html.TextBox("searchProduct")
                <input type="submit" value="Filtrera" style=" margin-left: 35%; margin-top: 3%;" />
            </p>
            }
        

  
@*Script för att söka på produkt ID*@
<div>
    <h2>Search by ID</h2>
    <input type="text" id="prodId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'api/products';
    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of products.
            $.each(data, function (key, item) {
              // Add a list item for the product.
              $('<li>', { text: formatItem(item) }).appendTo($('#products'));
            });
          });
    });

    function formatItem(item) {
      return item.Name + ': $' + item.Price;
    }

    function find() {
      var id = $('#prodId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#product').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#product').text('Error: ' + err);
          });
    }
</script>
        </div>




@foreach (var p in Model.Products)
{

    <div class="well">
        <h3>
            <strong>@p.Name</strong> <br /> <br />
            <span class="pull-right label labelprimary">@p.Price.ToString("c")</span>
            <a href="@p.ImageUrl"><img class="img-rounded img-small" src="@p.ImageUrl"style="width:100px;height:60px;" /></a>
        </h3>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {        <div class="pull-right">
        @Html.Hidden("productId",p.ID)           
         @Html.Hidden("returnUrl", Request.Url.PathAndQuery)           
                     <input type="submit" class="btn btn-success" value="@Resources.AddToCart" />        </div>    }

      @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {<p>
             <button type="button" class="btn btn-primary">@Html.ActionLink(Resources.Details, "Details", new { id = p.ID }) </button>
              <button type="button" class="btn btn-primary">   @Html.ActionLink(Resources.Edit, "Edit", new { id = p.ID }) </button>
             <button type="button" class="btn btn-primary">  @Html.ActionLink(Resources.Delete, "Delete", new { id = p.ID }) </button>
</p>
        }
        else
        {

            <button type="button" class="btn btn-primary">@Html.ActionLink(Resources.Details, "Details", new { id = p.ID }) </button>

      
            @*@Html.ActionLink("Details", "Details", new { id = p.ID })*@
        }
       
       
    </div>
}




<div class="btn-group pull-right">    
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory })) 
</div>


