@model ProductsMVC.Models.ProductsListViewModel

@{    ViewBag.Title = "Products"; }


<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Lägg till ny produkt", "Create")</button>
@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{ 
<p style="margin-right: 75%;">
    Sök på produkt: @Html.TextBox("searchProduct")
    <input type="submit" value="Filtrera" style=" margin-left: 35%; margin-top: 3%;" />
</p>
}



@foreach (var p in Model.Products)
{

    <div class="well">
        <h3>
            <strong>@p.Name</strong> <br /> <br />
            <span class="pull-right label labelprimary">@p.Price.ToString("c")</span>
            <a href="@p.ImageUrl"><img class="img-rounded img-small" src="@p.ImageUrl"style="width:100px;height:60px;" /></a>
        </h3>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {        <div class="pull-right">
        @Html.Hidden("productId",p.ID)           
         @Html.Hidden("returnUrl", Request.Url.PathAndQuery)           
         <input type="submit" class="btn btn-success" value="Add to cart" />        </div>    }

      @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Details", "Details", new { id = p.ID }) <br />
            @Html.ActionLink("Edit", "Edit", new { id = p.ID }) <br />
            @Html.ActionLink("Delete", "Delete", new { id = p.ID })
        }
        else
        {
            @Html.ActionLink("Details", "Details", new { id = p.ID })
        }
       
       
    </div>
}

<div class="btn-group pull-right">    
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory })) 
</div>